<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论管理</title>
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script> 
</head>
<body>
	<div id="comment">
		<div>{{name}}</div>
		<div>{{message}}</div>
		<form action="" v-on:submit.prevent="submitHeadler">
			内容<input type="text" v-model="message.content">
			评论时间<input type="text" v-model="message.commentTime">
			<input type="submit" value="提交">
		</form>
		<table>
			<thead>
				<tr>
					<th>编号</th>
					<th>内容</th>
					<th>评论时间</th>
					<th>订单Id</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in comment">
					<td><input type="checkbox" v-bind:value="item.id"></td>
					<td>{{item.content}}</td>
					<td>{{item.commentTime}}</td>
					<td>{{item.orderId}}</td>
					<td>
						<a href="" v-on:click.prevent="deleteHeadler(item.id)">删除</a>
						<a href="" v-on:click.prevent="editHeadler(item)">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script>
	axios.defaults.headers.common["Content-Type"] = "application/x-www-form-urlencoded";
	axios.defaults.transformRequest=[(data)=>{
		let str = "";
		for(key in data){
			let val = data[key];
			str+=(key+"="+val+"&");
		}
		return str.slice(0,str.length-1);
	}]
	baseURL = "http://123.57.238.144:6677";
	new Vue({
		el:"#comment",
		data:{
			name:"评论管理",
			message:{},
			comment:{}
		},
		methods:{
			editHeadler(pdb){
				
				this.message = pdb;
			},
			async deleteHeadler(id){
				let a = await axios.get(baseURL+"/comment/deleteById",{params:{id}})
				alert(a.data.message);
				this.reloadData();
			},
			async submitHeadler(){
				let a = await axios.post(baseURL+"/comment/saveOrUpdate",this.message)
				alert(a.data.message);
				this.message = {};
				this.reloadData();
			},
			reloadData(){
				axios.get(baseURL+"/comment/findAll")
				.then((response)=>{
					this.comment = response.data.data
				})
			}
		},
		created(){
			this.reloadData();
		}
	})
		
	
</script>
</html>